{{#> layout}}
  {{#*inline "title"}}{{lookup navigation request.uri.path}} feed{{/inline}}
  {{#*inline "content"}}
    <h1>{{> title}}</h1>
    <div class="ui vertical clearing segment">
      <button class="ui right floated tiny labeled icon button" type="submit" onclick="update()"><i class="refresh icon"></i> Refresh</button>
      <p>
        <i class="clock icon"></i> <span id="timing">...</span>
      </p>
    </div>

    <!-- Feed -->
    <div class="ui vertical segment" id="content" style="margin-top: 1em">
      <div class="ui stackable cards" id="feed">
        <div class="card">
          <div class="content">
            <div class="ui placeholder">
              <div class="header"><div class="medium line"></div></div>
              <div class="meta"><div class="short line"></div></div>
            </div>
            <div class="ui placeholder">
              <div class="description"><div class="line"></div></div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <div class="ui placeholder">
                <div class="avatar image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      function update() {
        const $content = document.getElementById('content');
        const $feed = document.getElementById('feed');
        const $timing = document.getElementById('timing');

        const start = new Date().getTime();
        const template = Handlebars.compile(`{{{source 'templates/messages'}}}`);

        const completed = function(result, error) {
          if (result !== null) {
            const edges = result.viewer.homeFeed.homeFeedCards.edges;
            edges.sort((a, b) => ((a.node.updatedAt === b.node.updatedAt) ? 0 : ((a.node.updatedAt > b.node.updatedAt) ? -1 : 1)));
            $feed.innerHTML = template({edges: edges, errors: []});
          } else {
            $feed.innerHTML = template({edges: [], errors: [error.name + ': ' + error.message]});
          }

          $content.classList.remove('loading');
          $timing.innerHTML = ((new Date().getTime() - start) / 1000) + ' seconds';
          $('.excerpt').popup();
        }

        $content.classList.add('loading');
        fetch('/api{{request.uri.path}}?limit=15', {method: 'GET', credentials: 'same-origin'})
          .then(res => res.ok ? res.json() : (function() { throw new Error(res.status + ': ' + res.statusText); })())
          .then(result => completed(result, null))
          .catch(error => completed(null, error))
        ;
      };

      window.onload = update;
    </script>
  {{/inline}}
{{/layout}}