{{#> layout}}
  {{#*inline "title"}}Feed{{/inline}}
  {{#*inline "content"}}
    <h1>Following Feed</h1>
    <div class="ui vertical clearing segment">
      <button class="ui right floated tiny labeled icon button" type="submit" onclick="update()"><i class="refresh icon"></i> Refresh</button>
      <p>
        <i class="clock icon"></i> <span id="timing">...</span>
      </p>
    </div>

    <!-- Feed -->
    <div class="ui vertical segment" id="content">
      {{> templates/message}}

      <div class="ui cards" id="feed">
        <div class="card">
          <div class="content">
            <div class="ui placeholder">
              <div class="header"><div class="medium line"></div></div>
              <div class="meta"><div class="short line"></div></div>
            </div>
            <div class="ui placeholder">
              <div class="description"><div class="line"></div></div>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <div class="ui placeholder">
                <div class="avatar image"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
  {{#*inline "script"}}
    <script type="text/javascript">
      function update() {
        const $content = document.getElementById('content');
        const $feed = document.getElementById('feed');
        const $timing = document.getElementById('timing');
        const template = document.getElementById('event').innerHTML;    
        const start = new Date().getTime();  

        const completed = function(result) {
          let references = [];

          for (const reference of result.references) {
            if (typeof(references[reference.type]) === 'undefined') {
              references[reference.type] = {};
            }
            references[reference.type][reference.id] = reference;
          }

          let html = '';
          for (const message of result.messages) {
            let sender = references.user[message.sender_id];
            let group = references.group[message.group_id];
            html += template.replaceAll(format.placeholders, (match, placeholder) => format.html(eval(placeholder)));
          }

          $feed.innerHTML = html;
          $content.classList.remove('loading');
          $timing.innerHTML = ((new Date().getTime() - start) / 1000) + ' seconds';
          $('.excerpt').popup();
        }

        $content.classList.add('loading');
        fetch('/api/feed/following?limit=15', {method: 'GET', credentials: 'same-origin'})
          .then(res => res.json())
          .then(result => { completed(result); })
          .catch(error => { completed({references: [], messages: []}); console.error(error); completed(); })
        ;
      };

      window.onload = update;
    </script>
  {{/inline}}
{{/layout}}