<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{> title}} - Murmur</title>
    <link href="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" rel="stylesheet" type="text/css">
  </head>
  <body class="pushable">
    <nav class="ui top fixed inverted menu">
      <a class="active violet item" href="/">Murmur</a>
    </nav>

    <main class="pusher" style="padding: 50px 10px 0 10px">
      {{> content}}
    </main>

    <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script type="text/javascript">
      class Html {
        constructor(source) {
          this.source = source;
        }

        toString() {
          return this.source;
        }
      }

      const format = {
        placeholders : new RegExp(/\{\{([^}]+)\}\}/g),

        html: function(content) {
          const entities = {'&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;', "'": '&#39;'};
          if (typeof(content) === 'string') {
            return content.replace(/[&<>"']/g, s => entities[s]);
          } else {
            return '' + content;
          }
        },

        first: function(body) {
          let content = body.blocks[0].text;

          if (content.length > 100) {
            return content.substring(0, 100) + '…';
          } else {
            return content;
          }
        },

        body: function(body) {
          let content = '';
          for (const block of body.blocks) {
            content += block.text;
          }
          return content;
        },

        avatar: function(user) {
          return user.avatarUrlTemplate.replaceAll(/\{(width|height)\}/g, 48);
        },

        type: function(message) {
          if (message.threadStarter.isQuestion) {
            return 'question';
          } else if (message.isAnnouncement) {
            return 'announcement';
          } else {
            return 'update';
          }
        },

        label: function(message) {
          if (message.threadStarter.isQuestion) {
            return new Html('<a class="ui olive right corner label"><i class="compass icon"></i></a>');
          } else if (message.isAnnouncement) {
            return new Html('<a class="ui orange right corner label"><i class="rss icon"></i></a>');
          }
          return '';
        },

        likes: function(reactions) {
          if (reactions.totalCount > 0) {
            return new Html('<i class="heart outline like icon"></i> ' + reactions.totalCount);
          }
          return '';
        },

        date: function(content) {
          return content.replace('T', ' ').replace(/\.[0-9]+Z$/, '');
        }
      };
    </script>
    {{> script}} 
  </body>
</html>